.slide-container{
    max-height: 100%;
}

.images-wrap{
    max-height: 100%;
    height: auto;
    align-items: stretch;
}

.images-wrap div{
    display: flex !important;
    align-items: stretch;
}

.images-wrap div img{
    flex-grow: 200;
}

.each-slide {
    width: 100%;
}

.each-slide div{
    height: 100%;
    width: 100%;
}


.slideNav{
    width: 100%;
    /* margin-bottom: 40px;  */
}

.slideNav img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 500px !important;
    object-fit: cover;
}

@media(max-width: 1199.98px){
    .slide-container{
        width: 35% !important;
        height:auto;
    }
}

@media(max-width: 991.98px){
    .slide-container{
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
    .slide{
        height: 400px;
    }

}
@media(max-width: 767.98px){
    .slide-container{
        width: 100% !important;
    }

    .slideNav img{
        object-fit: cover;
    }
    
}

@media(max-width: 575px){
    .slideNav{
        height: auto;
    }

    .slideNav img{
        object-fit: cover;
    }
    
}
